<!doctype html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">&laquo;Back</a>
        </nav>
            <h2 style="color: {{color}}">{{title}}</h2>
            {{#if content}}
            <section>
                {{{content}}}
            </section>
            {{/if}}
    </section>

    {{> footer}}

</body>
</html>
