<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{#if title}}{{title}}{{else}}This is a website{{/if}}</title>
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/assets/css/i.css">